// app global css in SCSS form
@import './quasar.variables.scss';

// Mixins для повторяющихся стилей
@mixin open-sans($weight: 400, $size: 14px, $color: $secondary) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: $color;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

.text-h1 {
  @include open-sans(700, 24px, $dark);
}

.text-h2 {
  @include open-sans(600, 20px, $secondary);
}

.text-h3 { @include open-sans(700, 16px, $secondary); }

.text-h4 { @include open-sans(400, 14px, $secondary); }

.text-h5 { @include open-sans(300, 12px, $secondary); }

// Общие стили
.q-timeline__title { font-size: 1rem; }

.q-toolbar {
  min-height: 50px;
  margin-bottom: -70px;
  z-index: 100;
}

.q-header {
  margin-bottom: -50px;
  height: 50px;
  border: $primary solid 1px;
  background-color: $primary;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.01);
}

.q-layout { background-color: $drawer_active; }
.q-card { height: 100%; border: $primary solid 1px; border-radius: 24px; box-shadow: 0 10px 6px rgba(0, 0, 0, 0.01); }
.q-field--outlined .q-field__control {border-radius: 10px !important;}
.q-dialog { 
  

.dialog_popup{
  width: 70vw;
  max-height: none !important;
  height: auto;
  border-radius: 24px;
  border: $primary solid 1px;
  box-shadow: none !important;
}
}

// Drawer стили
.q-drawer {
  @include open-sans;
  position: fixed;
  max-height: 98vh;
  border: $primary solid 1px;
  border-radius: 24px;
  margin: 10px;

  .q-item {
    padding: 5px 0;
    min-height: auto;
    transition: none !important;
    
    &--active {
      @include open-sans(700, 14px, $dark);
      background-color: $drawer_active;
      border-radius: 8px;
    }

  }

  .q-focus-helper { display: none !important; }

  @media (max-width: 599px) {
    max-height: auto;
  }
}

.q-drawer--mini {
  
  
  .q-slide-transition { display: none !important; }
  .menu-dropdown { display: none !important; }
  .q-pl-xl { display: none !important; }
  .q-item__section--avatar:hover {
    box-shadow: none !important;
    transform: scale(1.1) !important;
  }
}

// Scroll areas
.q-scroll-area { background-color: $icons; }

.scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background: rgba(0, 0, 0, 0.00);
    
    &-track { background: transparent !important; }
    &-thumb {
      background: $primary !important;
      border-radius: 4px !important;
      height: 80px !important;
      max-height: 80px !important;
      transition: background 0.3s;
      
      &:hover { background: $secondary; }
    }
  }
}

.scroll_questions_list { max-height: 70vh; overflow-y: auto; }
.scroll_devices_list { max-height: 60vh; overflow-y: auto; }

// Компоненты
.profile {
  background-color: $menu_active;
  border-radius: 24px;
  border: $primary 1px solid;
}

.drawer_scrolling {
  max-height: 73vh;
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 0px;
    background: rgba(0, 0, 0, 0.00);
  }
}

// Кнопки и иконки
.drawer-close-btn {
  @include flex-center;
  color: $secondary !important;
  background-color: $menu_active !important;
  border-radius: 23px;
  width: 22px !important;
  height: 22px !important;
  min-width: 22px !important;
  min-height: 22px !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 0.3s ease !important;

  &:hover {
    box-shadow: none !important;
    transform: scale(1.1) !important;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.q-btn {
    @include open-sans(700, 16px, $secondary); 
    text-transform: none !important; 
    border-radius: 6px; 
    box-shadow: none !important;
}

.q-btn:not(.q-btn--flat):not(.q-btn--unelevated) {
    box-shadow: none !important;
}

.q-btn__wrapper { min-width: auto !important; min-height: auto !important; box-shadow: none !important;}
.q-btn__wrapper:before {
   box-shadow: none !important;
}

// Текстовые стили
.header {
  &_logo {
    @include open-sans(700, 16px, $secondary);
    display: inline-block;
  }
  
  &_emblema {
    min-width: auto;
    img { width: 22px; height: 22px; }
  }
}

.q-footer {
  margin: 0 40px 10px;
  border-radius: 24px;
  border: $primary solid 1px;
  background-color: $primary;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.01);

  &_logo_container { @include flex-center; gap: 2px; }
  &_emblema { transform: scale(0.6); }
  &_logo { @include open-sans(700, 16px, $secondary); }
  &_projects { @include open-sans(400, 14px, $secondary); text-decoration: underline; }
  &_geo, &_rights { @include open-sans(400, 12px, $secondary); }

  @media (max-width: 599px) {
    margin-left: 20px;
    margin-right: 20px;
}

}

.user_name { @include open-sans(400, 16px, $secondary); }

// Content стили
.q-page {
  margin: 40px;
  background: $drawer_active;
  
  @media (max-width: 599px) {
    margin: 20px 20px 40px;
  }
}

.content {
  
  &_card_title, &_popup_title { @include open-sans(600, 20px, $secondary); }
  &_questions_title { @include open-sans(400, 14px, $dark); }
  &_questions_icons { color: $icons; }
  &_questions_time { @include open-sans(400, 12px, $secondary); }
  &_orders-contracts_last {@include open-sans(700, 14px, $secondary); }
  &_popup_value { @include open-sans(400, 16px, $secondary); }
  &_popup_negative { @include open-sans(400, 16px, $negative); border: 1px solid $negative; border-radius: 8px; padding: 0.3em 0.4em }
  &_popup_positive { @include open-sans(400, 16px, $secondary); border: 1px solid $secondary; border-radius: 8px; padding: 0.3em 0.4em }
  
  &_chat-btn, &_dv-btn-1, &_dv-btn-2 {
    border-radius: 20px;
    padding: 0;
    box-shadow: none !important;
    
    &_text { @include open-sans(400, 14px); }
  }
  
  &_chat-btn {
    width: 50px; height: 36px;
    background-color: $primary;
    color: $secondary;
  }
  
  &_dv-btn-1 { width: 180px; height: 36px; }
  &_dv-btn-2 { 
    width: 220px; height: 36px; 
    background-color: $primary;
    color: $secondary;
    
    &_mobile { width: 95%; }
  }
}



.toolbar_button { color: $secondary !important; }

// Утилиты
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.logout { color: $negative !important; }

.menu-dropdown {
  text-align: right;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}

.drawer-close-container {
  position: absolute;
  top: 15px;
  right: -13px;
}

.drawer-vdh-container {
  padding: 16px 0 !important;
  border-bottom: $primary 1px solid;
}

// Глобальные стили
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar { display: none; }
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  color: inherit;
  text-decoration: none;
}