colors = {
  primary: #1976D2,
  secondary: #26A69A,
  accent: #9C27B0,
  dark: #1D1D1D,
  darkPage: #121212,
  positive: #21BA45,
  negative: #C10015,
  info: #31CCEC,
  warning: #F2C037,
  tertiary: #FF9800,
  quaternary: #8BC34A
}

$primary   = colors.primary
$secondary = colors.secondary
$accent    = colors.accent
$dark      = colors.dark
$darkPage  = colors.darkPage
$positive  = colors.positive
$negative  = colors.negative
$info      = colors.info
$warning   = colors.warning
$tertiary   = colors.tertiary
$quaternary = colors.quaternary 

.bg-tertiary
  background: $tertiary !important

.text-tertiary
  color: $tertiary !important

.bg-quaternary
  background: $quaternary !important

.text-quaternary
  color: $quaternary !important