$primary    = #1976D2
$secondary  = #26A69A
$accent     = #C9060A
$dark       = #1D1D1D
$darkPage   = #121212
$positive   = #21BA45
$negative   = #C10015
$info       = #31CCEC
$warning    = #F2C037
$tertiary   = #FF9800
$quaternary = #8BC34A
$abracadabraBro   =rgb(186, 33, 224)
$backgroundLight  = #FFFFFF

.bg-tertiary
  background: $tertiary !important

.text-tertiary
  color: $tertiary !important

.bg-quaternary
  background: $quaternary !important

.text-quaternary
  color: $quaternary !important

.bg-abracadabra-bro
  background: $abracadabraBro !important

.text-abracadabra-bro
  color: $abracadabraBro !important

.bg-background-light
  background: $backgroundLight !important

.text-background-light
  color: $backgroundLight !important

